// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

$black: #000;
$grey: #6C727A;
$grey-light: #CACACA;
$grey-lighter: #F9F9F9;
$white: #FFFFFF;
$blue: #0029FF;
$green: #00D98B;
$red: #D9005B;

$border-color: #DEDEDE;

$icon-angle-width: 20px;

$dropdown-width-default: 220px;

$pc-viewport: calc(100vh - 162px);
$tab-viewport: calc(100vh - 136px);
$mob-viewport: calc(100vh - 198px);
$mob-viewport-1: calc(100vh - 324px);

$font-weight-300: 300;
$font-weight-400: 400;
$font-weight-500: 500;
$font-weight-600: 600;
$font-weight-700: 700;


